<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout :: admin_layout('Categories', ~{::content})}" th:with="activeMenu='categories'">
<body>
<div th:fragment="content">
    <!-- HEADER -->
    <div class="page-header">
        <div>
            <div class="page-title">Category Master</div>
            <div class="page-subtitle">
                Product Classification & Management
            </div>
        </div>

        <a th:href="@{/admin/categories/add}" class="btn btn-success btn-sm">
            <i class="bi bi-plus-lg"></i> Add Category
        </a>
    </div>

    <!-- TABLE CARD -->
    <div class="table-container">

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="cat : ${categories}">
                    <td th:text="${cat.id}"></td>
                    <td th:text="${cat.name}"></td>
                    <td th:text="${cat.description}"></td>

                    <!-- STATUS -->
                    <td>
                        <span th:if="${cat.active}" class="badge-active">
                            Active
                        </span>
                        <span th:unless="${cat.active}" class="badge-inactive">
                            Inactive
                        </span>
                    </td>

                    <!-- ACTION -->
                    <td>
                        <a th:href="@{/admin/categories/toggle/{id}(id=${cat.id})}"
                           class="btn btn-warning btn-sm action-btn">
                            Toggle Status
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    
</div>
</body>
</html>