<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout :: admin_layout('Stock Management', ~{::content})}" th:with="activeMenu='stock'">
<body>
<div th:fragment="content">
    <!-- HEADER -->
  <div class="page-header">
    <div class="page-title">Stock Management</div>
    <div class="page-subtitle">
      Inventory Control → Monitor available stock levels
    </div>
  </div>

  <!-- BACK -->
  

  <!-- TABLE CARD -->
  <div class="table-container">

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Product Name</th>
          <th>Unit Price</th>
          <th>Available Quantity</th>
          <th>Status</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${products}">
          <td th:text="${p.name}"></td>
          <td th:text="${p.price}"></td>

          <!-- STOCK -->
          <td>
                        <span th:text="${p.quantity}"
                              th:classappend="${p.quantity <= 5} ? 'low-stock' : ''">
                        </span>

            <span th:if="${p.quantity <= 5}" class="badge-low ms-2">
                            Low Stock
                        </span>
          </td>

          <!-- STATUS -->
          <td>
                        <span th:if="${p.active}" class="badge-active">
                            Active
                        </span>
            <span th:unless="${p.active}" class="badge-inactive">
                            Inactive
                        </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</body>
</html>